name: Check Code Base

on:
  push:

jobs:
  code_coverage:
    name: Test Code
    runs-on: ubuntu-latest
    env:
      PYTHON: '3.9'
      OS: ubuntu-latest
      URI: ${{ secrets.URI }}
      API: ${{ secrets.API }}
      USER: ${{ secrets.USER }}
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: 3.9
      - name: Generate coverage report
        run: |
          pip install pytest pytest-cov
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pytest --cov=./ --cov-report=xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          path_to_write_report: ./coverage/codecov_report.txt
          verbose: true
